.total-div{
    background: url(../img/Airdropbagck.png) no-repeat top center;
    margin: auto;
    text-align: center;
    margin-top: 160px;
}
.total-div h3{
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
}
.total-div p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(26, 27, 31, 0.7);
    margin-top: 32px;
    margin-bottom: 34px;
}
.total-div img{
    width: 510px;
    height: 700px;
}