.kontrol{
    margin: auto;
    justify-content: center;
    display: flex;
}
.finish-span{
    margin-left: 10px;
    background: rgba(26, 27, 31, 1);
    padding: 8px 16px;
    border-radius: 24px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}