.faq-wrapper {
  padding: 80px 20px;
  text-align: center;
}

.faq-wrapper h2 {
  font-size: 56px;
  font-weight: 400;
  background: radial-gradient(circle at center, rgba(26, 27, 31, 1), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq-subtitle {
  opacity: 0.7;
  max-width: 810px;
  margin: 10px auto 40px auto;
  font-size: 19px;
  transition: 0.5s all ease;
}

.faq-list {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.5s all ease;
  text-align: left;
}

/* --- RESPONSIVE --- */
@media (max-width: 1200px) {
  .faq-wrapper h2 {
    font-size: 48px;
  }

  .faq-subtitle {
    font-size: 18px;
    max-width: 700px;
  }

  .faq-list {
    max-width: 90%;
  }
}

@media (max-width: 992px) {
  .faq-wrapper {
    padding: 60px 15px;
  }

  .faq-wrapper h2 {
    font-size: 40px;
  }

  .faq-subtitle {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .faq-wrapper h2 {
    font-size: 32px;
  }

  .faq-subtitle {
    font-size: 16px;
  }

  .faq-list {
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .faq-wrapper h2 {
    font-size: 28px;
  }

  .faq-subtitle {
    font-size: 15px;
  }

  .faq-list {
    gap: 10px;
  }
}
