.new-section {
  padding: 70px 40px;
  text-align: center;
  background-color: #121217;
}

.new-section-header {
  font-size: 50px;
  font-weight: 500;
  line-height: 54px;
  color: #ffffff;
  margin-bottom: 30px;
}

.new-section-text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 700px;
  margin: 0 auto 50px;
}

.new-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.new-card {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 25px;
  padding: 25px;
  width: 480px;
  display: flex;
  height: 220px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  text-align: left;
}

.new-card-img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 18px;
}
.new-card-content{
  margin-left: 15px;
  margin-top: 7px;
}
.new-card-content h3 {
  margin: 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
}

.new-card-role {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 20px;
}

.new-card-content p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  position: relative;
  right: 75px;
}
