/* WRAPPER */
.info-block-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  align-items: center;
}

/* CARD */
.info-block {
  background: rgba(26, 27, 31, 1);
  color: white;
  border-radius: 20px;
  padding: 30px;
  width: 520px;
  height: 240px;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.info-block:hover {
  transform: scale(1.05);
}

/* TITLE */
.info-block-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

/* TAG LIST */
.info-block-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
  justify-content: center;
}

/* TAG ELEMENT */
.info-block-tag {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  border: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .info-block {
    width: 100%;
    max-width: 350px;
  }
}
