* {
       font-family: -apple-system, "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
       padding: 0;
       margin: 0;
       text-decoration: none;
       box-sizing: border-box;
       list-style: none;
}

.appjs {
       font-family: -apple-system, "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
       padding: 0;
       margin: 0;
       text-decoration: none;
       box-sizing: border-box;
       list-style: none;

}