.section {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #111;
}

.main-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 40px;
  line-height: 48px;
 background: radial-gradient(circle at center, rgba(26, 27, 31, 1), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  background: #f7f7f7;
  border-radius: 14px;
  padding: 24px 20px;
  box-shadow: 0 0 7px rgba(0,0,0,0.06);
  cursor: default;
  transition: all 0.3s ease;
  text-align: left;
  width: 325px;
  height: 198px;
}

.card:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.12);
}

.card-title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 8px;
}

.card-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.card-name{
  font-size: 12px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 12px;
}
.card.active {
  background: #333;
  color: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}
.card:hover{
  background: #333;
  color: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);

}

.card.active .card-subtitle {
  color: #ddd;
}

.section-title {
  font-weight: 500;
  font-size: 56px;
  margin-bottom: 8px;
  color: rgba(26, 27, 31, 1);
  margin-top: 160px;
}

.section-subtitle {
  font-size: 20px;
  color: #666;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  line-height: 28px;
}

.image-wrapper {
  max-width: 1000px;
  height: 663px;
  margin: 0 auto 0px;
}

.dashboard-image {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.button-wrapper {
  text-align: center;
}

.primary-btn {
  background: linear-gradient(90deg, #1a1a1a, #3d3d3d);
  color: white;
  border: none;
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 363px;
  height: 56px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
margin-bottom: 160px;
}

.primary-btn:hover {
  background: linear-gradient(90deg, #333, #555);
  transition: .5s all ease;
}