.footer {
  padding: 60px 20px 30px;
  text-align: center;
  background-color: #f8f8f8; /* agar fon kerak bo'lsa */
}

.footer-top {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 35px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
}

.footer-left img {
  width: 35px;
}

.footer-links {
  display: flex;
  gap: 25px;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content: center; /* mobilda markazlash */
}

.footer-links a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.footer-links a:hover {
  opacity: 0.6;
}

.footer-socials {
  display: flex;
  gap: 15px;
  justify-content: center; /* mobilda markazlash */
}

.footer-socials .icon {
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-socials .icon:hover {
  opacity: 0.6;
}

.footer-bottom {
  margin-top: 25px;
  font-size: 14px;
  opacity: 0.6;
  text-align: center;
  margin-left: 0;
}

/* Responsive */
@media (max-width: 1000px) {
  .footer-top {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer-left img {
  margin-left: 100px;
}
}

@media (max-width: 600px) {
  .footer-left {
    font-size: 18px;
  }

  .footer-links {
    gap: 15px;
    font-size: 14px;
  }

  .footer-socials .icon {
    font-size: 20px;
  }

  .footer {
    padding: 40px 15px 20px;
  }
}
