.footer {
  padding: 60px 20px 30px;
  text-align: center;
}

.footer-top {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 35px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
}

.footer-left img {
  width: 35px;
}

.footer-links {
  display: flex;
  gap: 25px;
  font-size: 16px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.footer-links a:hover {
  opacity: 0.6;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.footer-socials .icon {
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-socials .icon:hover {
  opacity: 0.6;
}

.footer-bottom {
  margin-top: 25px;
  font-size: 14px;
  opacity: 0.6;
  margin-left: 100px;
}

/* Responsive */
@media (max-width: 800px) {
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
}
