/* FULL HERO SECTION */
.hero-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.high-div{
    background: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%),
      url('../img/bg-hero.png');
  background-size: cover;
  background-position: center;

}
/* DARK OVERLAY */
.hero-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(20,20,20,0.65), rgba(0,0,0,0.6));
  backdrop-filter: blur(1px);
}

/* CONTENT CENTER */
.hero-content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  margin-top: -40px;
}

/* TAGS ROW */
.hero-tags {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 25px;
}

.tag {
  background: rgba(255,255,255,0.25);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 800;
  backdrop-filter: blur(4px);
  border: 1px solid #FFFFFF4D;
}

/* TITLE */
.hero-title {
  font-size: 96px;
  font-weight: 600;
  line-height: 96px;
  margin-bottom: 12px;
}

/* SUBTEXT */
.hero-sub {
  font-size: 26px;
  opacity: 0.85;
  color: #fff;
  line-height: 36.4px;
  margin-top: 40px;
  margin-bottom: 80px;
}

/* BUTTON ROW */
.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 60px;
}

/* WHITE BUTTON */
.primary-btn {
  padding: 21.5px 82px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  width: 290px;
  height: 56px;
}

.primary-btn:hover , .primary-btn:hover {
  opacity: 0.9;
}

/* GLASS TRANSPARENT BUTTON */
.secondary-btn {
  background: transparent;
  color: #fff;
  border-radius: 30px;
  border: 2px solid rgba(255,255,255,0.32);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  line-height: 28px;
  backdrop-filter: blur(15px);
  transition: 0.2s;
  width: 290px;
  height: 56px;
}

.vector-btn{
  margin-left: 7px;
  margin-top: 7px;
  position: absolute;
  width: 19.5px;
  height: 19.5px;
}
.secondary-btn:hover , .primary-btn:hover {
  background: rgba(255,255,255,0.28);
}

/* SCROLL TEXT */
.scroll-text {
  margin-top: 239px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
  opacity: 0.7;
  color: rgba(26, 27, 31, 1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .primary-btn,
  .secondary-btn {
    width: 80%;
  }
}
