/* Main wrapper */
.stats-wrapper {
  background: rgba(26, 27, 31, 1);
  color: #fff;
  padding: 70px 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  height: 687px;
}

/* Title */
.stats-title {
  font-size: 56px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  margin-bottom: 10px;
}

.stats-subtitle {
  max-width: 580px;
  margin: 0 auto 50px;
  opacity: 0.7;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 80px;
}

/* Cards container */
.stats-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

/* Card style */
.stats-card {
  position: relative;
  width: 325px;
  height: 335px;
  background: #1a1c23;
  padding: 30px 25px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.stats-card h2 {
  font-size: 32px;
  color: rgba(249, 249, 249, 1);
  margin-bottom: 5px;
  line-height: 48px;
  letter-spacing: normal;
  font-weight: 600;
}

.card-small {
  font-size: 12px;
  color: rgba(249, 249, 249, 1);
  opacity: 0.6;
  display: block;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 14px;
}

.stats-card p {
  font-size: 16px;
  color: rgba(249, 249, 249, 1);
  opacity: 0.75;
  line-height: 1.5;
}

/* Decorative circle icons */
.card-icon {
  width: 60px;
  height: 60px;
background: none;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  /* box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4); */
}

/* Left card icon */
.left-icon {
  position: absolute;
  top: 225px;
  left: -100px;
  z-index: 10;
  width: 80px;
  height: 80px;
}

/* Right card icon */
.right-icon {
  position: absolute; /* rasmni card ustiga chiqaradi */
  top: -80px; /* yuqoriga siljitish */
  right: 0px; /* o'ngga siljitish */
  z-index: 10; /* boshqa elementlar ustida bo'lishi uchun */
  width: 80px; /* kerak bo'lsa o'lchamini o'zgartirish */
  height: 80px;
}
